.library-container {
  position: absolute;
  top: 65px; // Comes from height of navbar being 65px;
  height: 92.5vh; // Max mobile compatibility (DO NOT CHANGE)
  overflow-y: scroll;
}

.library {
  border: 1px solid rgb(54, 57, 89);
  background: #000000;
  margin: 1rem 1.5rem;
}

.bookshelf {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 10px;
}
