:host {
  ::ng-deep .p-menuitem {
    margin-left: 0.15rem;
  }

  ::ng-deep .p-button {
    border-radius: 0.75rem;
    height: 35px;
    width: 35px;
  }

  ::ng-deep .p-menubar {
    background: #000;
    border-left: 0;
    border-right: 0;
  }

  ::ng-deep .p-inputtext {
    width: 175px;
    padding: 8px;
    padding-left: 2.5rem;
  }

  ::ng-deep * {
    font-size: 14px;
  }

  ::ng-deep .p-dialog {
    border-radius: 1rem !important;
  }

  ::ng-deep .p-dialog .p-dialog-header {
    border-top-right-radius: 1rem !important;
    border-top-left-radius: 1rem !important;
    padding-bottom: 0;
    justify-content: space-between;
  }

  ::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
    margin-left: auto;
  }

  ::ng-deep .p-dialog .p-dialog-header-icons {
    margin-left: auto;
  }

  ::ng-deep .p-dialog-content {
    overflow: hidden;
  }

  ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    background-color: transparent;
    padding: 1rem 2rem;
  }

  ::ng-deep .p-tabmenu .p-tabmenu-nav-btn.p-link {
    background: rgba(17, 17, 17, 0.5);
  }

  ::ng-deep .p-tabmenu .p-tabmenu-nav-btn .p-link {
    background-color: transparent;
  }

  ::ng-deep .p-tabmenu .p-tabmenu-nav {
    justify-content: center;
    width: 50vw;
  }

  @media screen and (max-width: 960px) {
    ::ng-deep .p-inputtext {
      width: auto;
    }

    ::ng-deep .p-menubar .p-menubar-root-list {
      width: 50%;
    }

    .right-items {
      padding-left: 10px;
    }
  }
}

.logo {
  cursor: pointer;
}

.navbar-container {
  position: absolute;
  width: 100%;
  height: 65px;

  top: 0;
  z-index: 100;
}

.right-items {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-right: 25px;
}

.settings-container {
  display: flex;
}

.setting-tab {
  margin-left: 2rem;
}