<div class="navbar-container">
	<p-menubar [model]="navbarItems">

		<ng-template pTemplate="end">
      <div class="right-items">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input type="text" pInputText [(ngModel)]="searchQuery" placeholder="Search"/>
        </span>
        
        <p-button icon="pi pi-list" (click)="goToChangelog()"></p-button>
        <p-button icon="pi pi-info-circle" (click)="goToAbout()"></p-button>
        <p-button icon="pi pi-github" (click)="goToUrl('https://github.com/angelocarasig/Terminus')"></p-button>
      </div>
		</ng-template>
	</p-menubar>

  <ng-container *ngTemplateOutlet="settings"></ng-container>
</div>

<ng-template #settings>
  <p-dialog [modal]="true" [header]="getActiveTab()" [position]="'top'" [(visible)]="displaySettings" [style]="{width: '50vw'}" [dismissableMask]="true" [draggable]="false">
    <div class="settings-container">
      <p-menu [model]="settingTabs"></p-menu>

      <div class="setting-tab" [ngSwitch]="activeTab.label">
        <div *ngSwitchCase="'General'">
          <ng-container *ngTemplateOutlet="generalPanel"></ng-container>
        </div>
        <div *ngSwitchCase="'Novel'">
          <ng-container *ngTemplateOutlet="novelPanel"></ng-container>
        </div>
        <div *ngSwitchCase="'User'">
          <ng-container *ngTemplateOutlet="userPanel"></ng-container>
        </div>
      </div>

    </div>
  </p-dialog>
</ng-template>

<ng-template #generalPanel>
</ng-template>

<ng-template #novelPanel>
</ng-template>

<ng-template #userPanel>
</ng-template>