<div class="navbar-container">
	<p-menubar [model]="navbarItems">

		<ng-template pTemplate="end">
      <div class="right-items">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input type="text" pInputText [(ngModel)]="searchQuery" placeholder="Search"/>
        </span>
        
        <p-button icon="pi pi-list" (click)="goToChangelog()"></p-button>
        <p-button icon="pi pi-info-circle" (click)="goToAbout()"></p-button>
        <p-button icon="pi pi-github" (click)="goToUrl('https://github.com/angelocarasig/Terminus')"></p-button>
      </div>
		</ng-template>
	</p-menubar>

  <ng-container *ngTemplateOutlet="settings"></ng-container>
</div>

<ng-template #settings>
  <p-dialog [modal]="true" [header]="getActiveTab()" [breakpoints]="{ '960px': '75vw' }" [position]="'top'" [(visible)]="displaySettings" [style]="{width: '75vw', height: '75vh'}" [dismissableMask]="true" [draggable]="false">
    <div class="settings-container">
      <p-tabMenu [model]="settingTabs" [activeItem]="activeTab" (onTabChange)="onTabChange($event)"></p-tabMenu>
      
      <div class="setting-tab" [ngSwitch]="activeTab.label">
        <div *ngSwitchCase="'General'">
          <ng-container *ngTemplateOutlet="generalPanel"></ng-container>
        </div>
        <div *ngSwitchCase="'Novel'">
          <ng-container *ngTemplateOutlet="novelPanel"></ng-container>
        </div>
        <div *ngSwitchCase="'User'">
          <ng-container *ngTemplateOutlet="userPanel"></ng-container>
        </div>
      </div>

    </div>
  </p-dialog>
</ng-template>

<ng-template #generalPanel>
</ng-template>

<ng-template #novelPanel>
  <p-card header="Novel Options" class="panel">
    <label for="integeronly">Image Sensitivity </label>
    <br/>
    <p-dropdown inputId="integeronly" appendTo="body" tooltip="Modify what content to blur" [options]="ImageSensitivityOptions" [(ngModel)]="selectedImageSensitivity" [placeholder]="getImageSensitivityLabel()" (onChange)="onImageSensitivityChange()"></p-dropdown>
  </p-card>
</ng-template>

<ng-template #userPanel>
</ng-template>