:host {
  ::ng-deep .p-card {
    background-image: inherit;
    background-size: cover;
    background-position: center;
    border: 10.5px solid rgb(17, 17, 17);
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    cursor: pointer;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    transition: transform 0.2s cubic-bezier(0.4, 0, 0, 0.86), border 0.2s cubic-bezier(0.54, 0.71, 0.43, 0.98);
  }

  ::ng-deep .p-card:hover {
    border: 10px solid rgb(146, 152, 216);
    transform: scale(1.015);
  }

  ::ng-deep .p-card .p-card-body {
    padding: 0;
  }

  ::ng-deep .p-card .p-card-content {
    padding: 0;
  }

  ::ng-deep .p-card .p-card-footer {
    padding: 0;
  }

  ::ng-deep p-image {
    object-fit: cover;
  }
}

.book-card {
  width: 250px;
  
}

.title {
  text-align: center;
  font-size: 18px;
  white-space: nowrap; /* Prevents the text from wrapping to a new line */
  overflow: hidden; /* Hides the text that overflows the container */
  text-overflow: ellipsis; /* Adds the ellipsis to indicate that text is truncated */
}
